
    <header class="header">
        <div class="header-left">
            <img src="https://www.liblogo.com/img-logo/ol8430f3c1-olx-logo-file-olx-new-logo-png-wikimedia-commons.png" alt="OLX Logo" class="logo">
            <select id="country-selector" class="country-selector">
                <option value="India">India</option>
            </select>
        </div>
        <div class="header-center">
            <input type="text" placeholder="Find Cars, Mobile Phones and more..." class="search-input">
            <button class="search-button">
                <img src="https://img.icons8.com/ios-filled/50/000000/search.png" alt="Search Icon" class="search-icon">
            </button>
        </div>
        <div class="header-right">
            <select id="language-selector" class="language-selector">
                <option value="ENGLISH">ENGLISH</option>
            </select>
            <!-- <a href="javascript:void(0)" class="login-link" (click)="goToLogin()" >Login</a> -->
            

             <!-- <button (click)="navigateToLogin()">Login</button> -->
             <button class="login-link "><a routerLink="/login">login</a></button>
            <button class="sell-button" id="sell-button" (click)="navigateToUser()">+ SELL</button>
            <button class="sell-button" id="sell-button" (click)="navigateToLogin()">+ SELL</button>
        </div>
    </header>


