<footer class="footer">
    <div class="footer-top">
      <div class="footer-column">
        <h3>POPULAR LOCATIONS</h3>
        <ul>
          <li>Kolkata</li>
          <li>Mumbai</li>
          <li>Chennai</li>
          <li>Pune</li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>TRENDING LOCATIONS</h3>
        <ul>
          <li>Bhubaneshwar</li>
          <li>Hyderabad</li>
          <li>Chandigarh</li>
          <li>Nashik</li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>ABOUT US</h3>
        <ul>
          <li>Contact Us</li>
          <li>TechOLXclone</li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>OLX</h3>
        <ul>
          <li>Blog</li>
          <li>Help</li>
          <li>Sitemap</li>
          <li>Legal & Privacy information</li>
          <li>Vulnerability Disclosure Program</li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>FOLLOW US</h3>
        <ul class="social-links">
          <li><a href="#"><i class="fa fa-facebook" alt="facebook"></i></a></li>
          <li><a href="#"><img src="assets/instagram-icon.png" alt="Instagram"></a></li>
          <li><a href="#"><img src="assets/twitter-icon.png" alt="Twitter"></a></li>
          <li><a href="#"><img src="assets/youtube-icon.png" alt="YouTube"></a></li>
        </ul>
        <div class="app-links">
          <a href="#"><img src="assets/google-play.png" alt="Google Play"></a>
          <a href="#"><img src="assets/app-store.png" alt="App Store"></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo">
        <img src="assets/cartrade-logo.png" alt="CarTrade Tech">
        <img src="assets/olx-logo.png" alt="OLX">
        <img src="assets/carwale-logo.png" alt="CarWale">
        <img src="assets/bikewale-logo.png" alt="BikeWale">
        <img src="assets/mobility-outlook-logo.png" alt="Mobility Outlook">
      </div>
      <div class="footer-links">
        <a href="#">Help</a>
        <a href="#">Sitemap</a>
      </div>
      <div class="footer-copy">
        <p>All rights reserved OLXclone</p>
      </div>
    </div>
  </footer>
  