<app-userheader></app-userheader>
<app-subheader></app-subheader>
<div class="container">
    <div class="sidebar">
      <ul>
        <li><a routerLink="/settings" routerLinkActive="active-link">Privacy</a></li>
        <li><a routerLink="/notifications" routerLinkActive="active-link">Notifications</a></li>
        <li><a routerLink="/logout" routerLinkActive="active-link">Logout from all devices</a></li>
        <li><a routerLink="/delete-account" routerLinkActive="active-link">Delete account</a></li>
        <li><a routerLink="/chat-safety-tips" routerLinkActive="active-link">Chat safety tips</a></li>
      </ul>
    </div>
    <div class="main-content">
     
        <div class="container1">
            <h2>Notifications</h2>
            <div class="notification">
                <div class="text"> safety Tips  
                    <br>
                    Receive safety tips based on your chat activity  
                </div>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
                <!-- <span class="delete">Delete</span> -->
            </div>
          
          
            
        </div>
    </div>
  </div>
  
<app-footer></app-footer>