<div class="login-container">
    <div class="login-card">
      <button class="close-button">✕</button>
      <img src="assets/icon.png" alt="Icon" class="login-icon">
      <h2>Help us become one of the safest places to buy and sell</h2>
      <div class="dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <button class="login-button phone-login">
        <img src="assets/phone-icon.png" alt="Phone Icon" class="button-icon">
        Continue with phone
      </button>
      <button class="login-button google-login">
        <img src="assets/google-icon.png" alt="Google Icon" class="button-icon">
        Continue with Google
      </button>
      <div class="or">OR</div>
      <a href="www.google.com" class="email-login">Login with Email</a>
      <!-- <button (click)="goToGoogle()">Go to Google</button> -->
      <button><a (click)="goToHead()" >headeecomponent</a></button>
      <p class="privacy-text">
        All your personal details are safe with us.<br>
        If you continue, you are accepting <a href="#">OLX Terms and Conditions</a> and <a href="#">Privacy Policy</a>
      </p>
    </div>
  </div>
  