<div class="sidebar">
    <h3>CATEGORIES</h3>
    <ul>
      <li><a href="#">All Categories </a></li>
      <li><a href="#">Cars (11,648)</a></li>
    </ul>
  
    <h3>LOCATIONS</h3>

    <ul>
      <li><a >Ahmedabad</a></li>
      <!-- <li><a >Delhi</a></li>
      <li><a >Mumbai</a></li> -->
    </ul>
  
    <h3>BRAND AND MODEL</h3>
    <input type="text" placeholder="Search brand or model" style="width: 100%;">
    <span> <i class="fas fa-search"></i></span>
  
    <h3>POPULAR BRANDS</h3>
    <div class="brands">
      <div class="brand">Maruti Suzuki</div>
      <div class="brand">Hyundai</div>
      <div class="brand">Mahindra</div>
      <div class="brand">Tata</div>
      <div class="brand">Jeep</div>
      <!-- Add other brands as needed -->
    </div>
  
    <h3>ALL BRANDS</h3>
    <div class="all-brands">
        <h3>ALL BRANDS</h3>
        <ul>
          <li>
            <label>
              <input type="checkbox">
              <span>Kia (228)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>BMW (212)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>Chevrolet (193)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>Skoda (176)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>Audi (153)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>MG (107)</span>
            </label>
          </li>
          <!-- Add more items as needed -->
        </ul>
      </div>
      <br>
      <div class="all-brands">
        <h3>ALL Models</h3>
        <ul>
          <li>
            <label>
              <input type="checkbox">
              <span>verna (228)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>Wagon R (212)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>Nexon (193)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>kodiac (176)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>A3 (153)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>Gloster (107)</span>
            </label>
          </li>
          <!-- Add more items as needed -->
        </ul>
      </div>
      <br>
      <div class="budget-container">
        <div class="budget-header">
            <h3>BUDGET</h3>
            <span class="toggle-icon">&#x25B2;</span>
        </div>
        <p>Choose from options below</p>
        <div class="budget-options">
            <div class="option">Below 1 Lac <span class="car-count">290+ cars</span></div>
            <div class="option">1 Lac - 2 Lac <span class="car-count">1,000+ cars</span></div>
            <div class="option">2 Lac - 3 Lac <span class="car-count">1,300+ cars</span></div>
            <div class="option">3 Lac - 5 Lac <span class="car-count">2,600+ cars</span></div>
            <div class="option">5 Lac and Above <span class="car-count">6,200+ cars</span></div>
        </div>
        <p>Choose a range below</p>
        <div class="range-slider">
            <input type="range" min="0" max="1000000" step="10000" value="1000000">
            <div class="range-labels">
                <span>0</span>
                <span>10,00,000+</span>
            </div>
            <div class="apply-button">Apply</div>
        </div>
    </div>
    <h3>NO. OF OWNERS</h3>
    <div class="all-brands">
        <h3>First</h3>
        <ul>
          <li>
            <label>
              <input type="checkbox">
              <span>First (228)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>Second (212)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>Third (193)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>Fourth (176)</span>
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox">
              <span>More than Four (153)</span>
            </label>
          </li>
          <li>
           
        </ul>
      </div>
      <br>
      <div class="budget-container">
        <div class="budget-header">
            <h3>Year</h3>
            <span class="toggle-icon">&#x25B2;</span>
        </div>
        <p>Choose from options below</p>
        <div class="budget-options">
            <div class="option">Under 3 years <span class="car-count">290+ cars</span></div>
            <div class="option">Under 5 years <span class="car-count">1,000+ cars</span></div>
            <div class="option">Under 7 years <span class="car-count">1,300+ cars</span></div>
            <div class="option">7 yers and above <span class="car-count">2,600+ cars</span></div>
            <!-- <div class="option">5 Lac and Above <span class="car-count">6,200+ cars</span></div> -->
        </div>
        </div>
        <div class="budget-container">
            <div class="budget-header">
                <h3>KM Driven</h3>
                <span class="toggle-icon">&#x25B2;</span>
            </div>
            <p>Choose from options below</p>
            <div class="budget-options">
                <div class="option">Below 25,000km <span class="car-count">290+ cars</span></div>
                <div class="option">25,000km - 50,000km<span class="car-count">1,000+ cars</span></div>
                <div class="option">50,000km - 75,000km<span class="car-count">1,300+ cars</span></div>
                <div class="option">75,000km - 1,00,000km<span class="car-count">2,600+ cars</span></div>
                <div class="option">1,00,000km and Above <span class="car-count">6,200+ cars</span></div>
            </div>
            <p>Choose a range below</p>
            <div class="range-slider">
                <input type="range" min="0" max="1000000" step="10000" value="1000000">
                <div class="range-labels">
                    <span>0</span>
                    <span>2,00,000+</span>
                </div>
                <div class="apply-button">Apply</div>
            </div>
            <br>
            <div class="all-brands">
                <h3>Fuels</h3>
                <ul>
                  <li>
                    <label>
                      <input type="checkbox">
                      <span>Petrol (228)</span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">
                      <span>Diesel (212)</span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">
                      <span>LPG (193)</span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">
                      <span>CNG & Hybrids (176)</span>
                    </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox">
                      <span>Electric (153)</span>
                    </label>
                  </li>
                  <li>
                  
                </ul>
              </div>
              <br>
              <p><b>Transmission</b></p>
              <div class="budget-options">
                  <div class="option">Automatic<span class="car-count">290+ cars</span></div>
                  <div class="option">Manual<span class="car-count">1,000+ cars</span></div>
                  <!-- <div class="option">50,000km - 75,000km<span class="car-count">1,300+ cars</span></div>
                  <div class="option">75,000km - 1,00,000km<span class="car-count">2,600+ cars</span></div>
                  <div class="option">1,00,000km and Above <span class="car-count">6,200+ cars</span></div> -->
              </div>
  </div>
  