.container {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #000000;
  }
  
  .main-content {
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centercontent{
   /* display: flex;       */
   justify-content: center;
  }
  