<app-userheader></app-userheader>
<app-subheader></app-subheader>
<div class="container">
    <div class="sidebar">
        <!-- <h2>Bought Packages</h2> -->
        <ul>
            <li (click)="navigateToBuybisiness()"><a>Bought Packages</a></li>
            <li (click)="navigateToBilling()"><a>Billing</a></li>
            <li (click)="navigateToInvoices()" style="font-weight: bold;"><a> Invoices</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="centercontent">
            <img src="https://statics.olx.in/external/base/img/illus-bills.webp" alt="">
            <h3>You don't have invoices</h3>
            <p>Haven't you tried our featured ads yet? Increase your views!</p>
        </div>
    </div>
</div>


<app-footer></app-footer>