<app-userheader></app-userheader>
<app-subheader></app-subheader>
<div class="container">
    <div class="sidebar">
      <!-- <h2>Bought Packages</h2> -->
      <ul>
        <li style="font-weight: bold;"><a >Bought Packages</a></li>
        <li (click)="navigateToBilling()" ><a >Billing</a></li>
        <li (click)="navigateToInvoices()" ><a> Invoices</a></li>
      </ul>
    </div>
    <div class="main-content">
   
      <div class="tabs">
        <button class="tab" [class.active]="selectedTab === 'active'" (click)="selectTab('active')">Active</button>
        <button class="tab" [class.active]="selectedTab === 'scheduled'" (click)="selectTab('scheduled')">Scheduled</button>
        <button class="tab" [class.active]="selectedTab === 'expired'" (click)="selectTab('expired')">Expired</button>
      </div>
      <div class="content">
        <ng-container *ngIf="selectedTab === 'active'">
          <div class="ads-page-container">
          
          
            <!-- <div class="search-filter">
              <input type="text" placeholder="Search by Ad Title" class="search-input"/>
              <div class="filter-buttons">
                <button class="menu-button" (click)="toggleMenu()">☰ Menu</button>
                <div class="filter-menu" [ngClass]="{'show': isMenuVisible}">
                <button [class.active]="selectedFilter === 'all'" (click)="selectFilter('all')">View all (1)</button>
                <button [class.active]="selectedFilter === 'active'" (click)="selectFilter('active')">Active (0)</button>
                <button [class.active]="selectedFilter === 'inactive'" (click)="selectFilter('inactive')">Inactive  (0)</button>
                <button [class.active]="selectedFilter === 'pending'" (click)="selectFilter('pending')">Pending order (1)</button>
               </div>
              </div>
            </div> -->

            <div class="search-filter">
              <input type="text" placeholder="Search by Ad Title" class="search-input" />
              <div class="filter-buttons">
                <button class="menu-button" (click)="toggleMenu()">☰ Menu</button>
                <div class="filter-menu" [ngClass]="{'show': isMenuVisible}">
                  <button [class.active]="selectedFilter === 'all'" (click)="selectFilter('all')">View all (1)</button>
                  <button [class.active]="selectedFilter === 'active'" (click)="selectFilter('active')">Active  (0)</button>
                  <button [class.active]="selectedFilter === 'inactive'" (click)="selectFilter('inactive')">Inactive  (0)</button>
                  <button [class.active]="selectedFilter === 'pending'" (click)="selectFilter('pending')">Pending  (1)</button>
                  <!-- <button [class.active]="selectedFilter === 'moderated'" (click)="selectFilter('moderated')">Moderated  (0)</button> -->
                </div>
              </div>
            </div>
            <div class="ads-list">
              <div class="ad-item" *ngFor="let ad of ads" [class.pending]="ad.status === 'pending'">
                <div class="ad-details">
                  <img [src]="ad.image" alt="Ad Image"/>
                  <div class="ad-info">
                    <p><strong>{{ ad.title }}</strong></p>
                    <p>From: {{ ad.fromDate }} To: {{ ad.toDate }}</p>
                    <p>Price: {{ ad.price }}</p>
                    <p>Status: {{ ad.status | uppercase }}</p>
                  </div>
                </div>
                <div class="ad-actions">
                  <!-- <p>{{ ad.statusMessage }}</p> -->
                  <button>Detail</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'scheduled'">
            <img src="https://statics.olx.in/external/base/img/empty_orders.webp" alt="No Active Packages">
            <h3>Nothing here...</h3>
          <p> there is no packages are sheduled</p>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'expired'">
            <img src="https://statics.olx.in/external/base/img/empty_orders.webp" alt="No Active Packages">
            <h3>Nothing here...</h3>
         <p>expired</p>
        </ng-container>
      </div>
    </div>
  </div>
  <app-footer></app-footer>