<app-userheader></app-userheader>
<app-subheader></app-subheader>

<body>
    <div class="head">
        <div class="ad">Ads</div>
        <div>FAVOURITES</div>
    </div>
    <div class="container">
        <div>
            <img src="https://statics.olx.in/external/base/img/no-publications.webp">
        </div>
        <div style="font-weight: 900; margin-top: 10px;"> You haven't listed anything yet</div>
        <div style="margin-top: 10px;">Let go of what you</div>
        <div style="margin-top: 10px;"> don't use anymore</div>
        <button class="sellbtn"
            style="color: black; background-color: white; height: 40px; width: 10%; border-radius: 5px;"> start-selling
        </button>
    </div>
</body>
<!-- <div></div> -->
<app-footer></app-footer>