<div class="post-ad-container">
    <header class="post-ad-header">
      <button class="back-button">
        <i class="fa fa-arrow-left"></i>
      </button>
      <h1>POST YOUR AD</h1>
    </header>
    <div class="category-selection">
      <h2>CHOOSE A CATEGORY</h2>
      <ul class="category-list">
        <li class="category-item">
          <i class="fa fa-car"></i>
          <span>Cars</span>
          <i class="fa fa-chevron-right"></i>
        </li>
        <li class="category-item">
          <i class="fa fa-home"></i>
          <span>Properties</span>
          <i class="fa fa-chevron-right"></i>
        </li>
        <li class="category-item">
          <i class="fa fa-mobile-alt"></i>
          <span>Mobiles</span>
          <i class="fa fa-chevron-right"></i>
        </li>
        <li class="category-item">
          <i class="fa fa-briefcase"></i>
          <span>Jobs</span>
          <i class="fa fa-chevron-right"></i>
        </li>
        <li class="category-item">
          <i class="fa fa-motorcycle"></i>
          <span>Bikes</span>
          <i class="fa fa-chevron-right"></i>
        </li>
        <li class="category-item">
          <i class="fa fa-tv"></i>
          <span>Electronics & Appliances</span>
          <i class="fa fa-chevron-right"></i>
        </li>
        <li class="category-item">
          <i class="fa fa-truck"></i>
          <span>Commercial Vehicles & Spares</span>
          <i class="fa fa-chevron-right"></i>
        </li>
        <li class="category-item">
          <i class="fa fa-couch"></i>
          <span>Furniture</span>
          <i class="fa fa-chevron-right"></i>
        </li>
        <li class="category-item">
          <i class="fa fa-tshirt"></i>
          <span>Fashion</span>
          <i class="fa fa-chevron-right"></i>
        </li>
        <li class="category-item">
          <i class="fa fa-book"></i>
          <span>Books, Sports & Hobbies</span>
          <i class="fa fa-chevron-right"></i>
        </li>
      </ul>
    </div>
  </div>
  