/* body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 800px;
    margin: 50px auto;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.sidebar {
    flex: 1;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    color: #333;
}

.main-content {
    flex: 3;
    padding: 20px;
}

.main-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.helper-text {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #888;
}

button {
    padding: 10px 20px;
    background-color: #004c3f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #00372c;
} */



body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
  }
  
  .sidebar {
    flex: 1;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
    background-color: #fafafa;
    height: calc(100vh - 100px); /* Adjust height as needed */
    position: sticky;
    top: 50px; /* Adjust top value as needed */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
  }
  
  .sidebar ul li a.active-link {
    font-weight: bold;
    color: #004c3f;
  }
  
  .main-content {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 100px); /* Adjust height as needed */
  }
  