
<nav class="subheader">
    <div class="categories-dropdown">
        <span class="all-categories">ALL CATEGORIES</span>
        <span class="dropdown-icon">▼</span>
    </div>
    
    <div class="categories">
        <span>Cars</span>
        <span>Motorcycles</span>
        <span>Mobile Phones</span>
        <span>For Sale: Houses & Apartments</span>
        <span>Scooters</span>
        <span>Commercial & Other Vehicles</span>
        <span>For Rent: Houses & Apartments</span>
    </div>
</nav>
