<!-- 

  <nav>
    <div class="wrapper">
      <div class="logo"><a href="#"></a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li>
          <a href="#" class="desktop-item" style="font-weight: 600; font-size: 25px;">All Catagories</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">All categories</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <img src="img.jpg" alt="">
              </div>
              <div class="row">
                <header>Design Services</header>
                <ul class="mega-links">
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Vectors</a></li>
                  <li><a href="#">Business cards</a></li>
                  <li><a href="#">Custom logo</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">car</a></li>
        <li><a href="#">Motorcycles</a></li>
        <li>
          <a href="#" class="desktop-item">Dropdown Menu</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <li><a href="#">Drop menu 1</a></li>
            <li><a href="#">Drop menu 2</a></li>
            <li><a href="#">Drop menu 3</a></li>
            <li><a href="#">Drop menu 4</a></li> -->
          <!-- </ul>
        </li>
       
        <li><a href="#">or Sale: Houses & Apartments</a></li>
        <li><a href="#">Scooters</a></li>
        <li><a href="#">Commercial & Other Vehicles</a></li>
        <li><a href="#">or Sale: Houses & Apartments</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav> -->

  
    <nav>
      <div class="wrapper">
        <!-- <div class="logo"><a href="#">Logo</a></div> -->
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
          <li>
            <a href="#" class="desktop-item" style="font-weight: 600; font-size: 25px;">All Categories</a>
            <input type="checkbox" id="showMega">
            <label for="showMega" class="mobile-item">All Categories</label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <img src="img.jpg" alt="">
                </div>
                <div class="row">
                  <header>Design Services</header>
                  <ul class="mega-links">
                    <li><a href="#">Graphics</a></li>
                    <li><a href="#">Vectors</a></li>
                    <li><a href="#">Business cards</a></li>
                    <li><a href="#">Custom logo</a></li>
                  </ul>
                </div>
                <div class="row">
                  <header>Email Services</header>
                  <ul class="mega-links">
                    <li><a href="#">Personal Email</a></li>
                    <li><a href="#">Business Email</a></li>
                    <li><a href="#">Mobile Email</a></li>
                    <li><a href="#">Web Marketing</a></li>
                  </ul>
                </div>
                <div class="row">
                  <header>Security Services</header>
                  <ul class="mega-links">
                    <li><a href="#">Site Seal</a></li>
                    <li><a href="#">VPS Hosting</a></li>
                    <li><a href="#">Privacy Seal</a></li>
                    <li><a href="#">Website design</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li><a href="#">Car</a></li>
          <li><a href="#">Motorcycles</a></li>
          <li>
            <a href="#" class="desktop-item">Dropdown Menu</a>
            <input type="checkbox" id="showDrop">
            <label for="showDrop" class="mobile-item">Dropdown Menu</label>
            <ul class="drop-menu">
              <!-- Add dropdown menu items here -->
            </ul>
          </li>
          <li><a href="#">For Sale: Houses & Apartments</a></li>
          <li><a href="#">Scooters</a></li>
          <li><a href="#">Commercial & Other Vehicles</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
      </div>
    </nav>

  