<!--  
    <nav>
      <div class="wrapper">
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
          <li>
            <a href="#" class="desktop-item" style="font-weight: 600; font-size: 25px;">All Categories</a>
            <input type="checkbox" id="showMega">
            <label for="showMega" class="mobile-item">All Categories</label>
            <div class="mega-box">
              <div class="content">
                <div class="row">
                  <header class="headermain" style="font-weight: 600; margin-bottom: 20px;">Car</header>
                  <div></div>
                  <header >Properties</header>
                  <ul class="mega-links">
                    <li><a href="#">For Sale: Houses & Apaetments</a></li>
                    <li><a href="#">For Rent: Houses  Apartments</a></li>
                    <li><a href="#">Landa & Plots</a></li>
                    <li><a href="#">For Rent: Shops & Offices</a></li>
                    <li><a href="#">For Sale: Shops & Offices</a></li>
                    <li><a href="#">PG & Guest Houses</a></li>
                  </ul>
                  <header>Mobiles</header>
                  <ul class="mega-links">
                    <li><a href="#">Mobile Phones</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Tablets</a></li>
                  </ul>
                </div>
                <div class="row">
                  <header>Jobs</header>
                  <ul class="mega-links">
                    <li><a href="#">Data Entry & Back Office</a></li>
                    <li><a href="#">Sales & Marketing</a></li>
                    <li><a href="#">BPO & Telecaller</a></li>
                    <li><a href="#">Driver</a></li>
                    <li><a href="#">Office Assistant</a></li>
                    <li><a href="#">Delivery & Collection</a></li>
                    <li><a href="#">Teacher</a></li>
                    <li><a href="#">Cook</a></li>
                    <li><a href="#">Receptionist & Front office</a></li>
                    <li><a href="#">Operator & Technician</a></li>
                    <li><a href="#">IT Engineer & Developer</a></li>
                    <li><a href="#">Hotel & Travel Executive</a></li>
                    <li><a href="#">Accountant</a></li>
                    <li><a href="#">Designer</a></li>
                    <li><a href="#">Other Jobs</a></li>
                  </ul>
                </div>
                <div class="row">
                  <header>Electronic & Applications</header>
                  <ul class="mega-links">
                    <li><a href="#">Tvs, Video - Audio</a></li>
                    <li><a href="#">Kitchen & Other Appliances</a></li>
                    <li><a href="#">Computers & Laptops</a></li>
                    <li><a href="#">Cameras & Lenses</a></li>
                    <li><a href="#">Games & Entertainment</a></li>
                    <li><a href="#">Fridges</a></li>
                    <li><a href="#">Hard Disks, Printers & Monitors</a></li>
                    <li><a href="#">ACs</a></li>
                    <li><a href="#">Washing Machines</a></li>
                  </ul>
                  <header>Commercial Vehicales & Spares</header>
                  <ul class="mega-links">
                  <li><a href="#">Commercial and Other Vehicales</a></li>
                  <li><a href="#">Spare Parts</a></li>
                </ul>
                  <header> Furniture</header>
                </div>
                <div class="row">
                  <header>Books Sports & Hobbies</header>
                  <ul class="mega-links">
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Gym & Fitness</a></li>
                    <li><a href="#">Musical Instruments</a></li>
                    <li><a href="#">Sports Equipment</a></li>
                    <li><a href="#">Other Hobbies</a></li>
                  </ul>
                  <header>Pets</header>
                  <ul class="mega-links">
                  <li><a href="#">Fishes & Aquarium</a></li>
                  <li><a href="#">Pet Food & Accessories</a></li>
                  <li><a href="#">Dogs</a></li>
                  <li><a href="#">Other Pets</a></li>
                </ul>
                </div>
              </div>
            </div>
          </li>
          <li><a href="#">Car</a></li>
          <li><a href="#">Motorcycles</a></li>
          <li>
            <a href="#" class="desktop-item">Dropdown Menu</a>
            <input type="checkbox" id="showDrop">
            <label for="showDrop" class="mobile-item">Dropdown Menu</label>
            <ul class="drop-menu">
            </ul>
          </li>
          <li><a href="#">For Sale: Houses & Apartments</a></li>
          <li><a href="#">Scooters</a></li>
          <li><a href="#">Commercial & Other Vehicles</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
      </div>
    </nav>

   -->

   <nav>
    <div class="wrapper">
      <!-- <div class="logo"><a href="#">Logo</a></div> -->
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li>
          <a href="" class="desktop-item" style="font-weight: 600; font-size: 25px;">All Categories</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">All Categories</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
                <header class="headermain" style="font-weight: 600; margin-bottom: 20px;"> <a  (click)="navigateTosearchpage()">Car</a></header>
                <div></div>
                <header>Properties</header>
                <ul class="mega-links">
                  <li><a href="#">For Sale: Houses & Apartments</a></li>
                  <li><a href="#">For Rent: Houses & Apartments</a></li>
                  <li><a href="#">Land & Plots</a></li>
                  <li><a href="#">For Rent: Shops & Offices</a></li>
                  <li><a href="#">For Sale: Shops & Offices</a></li>
                  <li><a href="#">PG & Guest Houses</a></li>
                </ul>
                <header>Mobiles</header>
                <ul class="mega-links">
                  <li><a href="#">Mobile Phones</a></li>
                  <li><a href="#">Accessories</a></li>
                  <li><a href="#">Tablets</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Jobs</header>
                <ul class="mega-links">
                  <li><a href="#">Data Entry & Back Office</a></li>
                  <li><a href="#">Sales & Marketing</a></li>
                  <li><a href="#">BPO & Telecaller</a></li>
                  <li><a href="#">Driver</a></li>
                  <li><a href="#">Office Assistant</a></li>
                  <li><a href="#">Delivery & Collection</a></li>
                  <li><a href="#">Teacher</a></li>
                  <li><a href="#">Cook</a></li>
                  <li><a href="#">Receptionist & Front office</a></li>
                  <li><a href="#">Operator & Technician</a></li>
                  <li><a href="#">IT Engineer & Developer</a></li>
                  <li><a href="#">Hotel & Travel Executive</a></li>
                  <li><a href="#">Accountant</a></li>
                  <li><a href="#">Designer</a></li>
                  <li><a href="#">Other Jobs</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Electronic & Applications</header>
                <ul class="mega-links">
                  <li><a href="#">Tvs, Video - Audio</a></li>
                  <li><a href="#">Kitchen & Other Appliances</a></li>
                  <li><a href="#">Computers & Laptops</a></li>
                  <li><a href="#">Cameras & Lenses</a></li>
                  <li><a href="#">Games & Entertainment</a></li>
                  <li><a href="#">Fridges</a></li>
                  <li><a href="#">Hard Disks, Printers & Monitors</a></li>
                  <li><a href="#">ACs</a></li>
                  <li><a href="#">Washing Machines</a></li>
                </ul>
                <header>Commercial Vehicles & Spares</header>
                <ul class="mega-links">
                  <li><a href="#">Commercial and Other Vehicles</a></li>
                  <li><a href="#">Spare Parts</a></li>
                </ul>
                <header>Furniture</header>
              </div>
              <div class="row">
                <header>Books Sports & Hobbies</header>
                <ul class="mega-links">
                  <li><a href="#">Books</a></li>
                  <li><a href="#">Gym & Fitness</a></li>
                  <li><a href="#">Musical Instruments</a></li>
                  <li><a href="#">Sports Equipment</a></li>
                  <li><a href="#">Other Hobbies</a></li>
                </ul>
                <header>Pets</header>
                <ul class="mega-links">
                  <li><a href="#">Fishes & Aquarium</a></li>
                  <li><a href="#">Pet Food & Accessories</a></li>
                  <li><a href="#">Dogs</a></li>
                  <li><a href="#">Other Pets</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a (click)="navigateTosearchpage()">Car</a></li>
        <li><a>Motorcycles</a></li>
        <li>
          <a href="#" class="desktop-item">Dropdown Menu</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <!-- Add dropdown menu items here -->
          </ul>
        </li>
        <li><a href="#">For Sale: Houses & Apartments</a></li>
        <li><a href="#">Scooters</a></li>
        <li><a href="#">Commercial & Other Vehicles</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  