<div class="help-center-container">
    <header>
      <img src="https://www.liblogo.com/img-logo/ol8430f3c1-olx-logo-file-olx-new-logo-png-wikimedia-commons.png" alt="OLX Logo" class="logo">
      <h1>Help Center</h1>
      <button class="sell-button" id="sell-button" (click)="navigateTosell()">+ SELL</button>
    </header>
    
    <div class="alerts">
      <div class="alert alert-warning">Never scan QR code or share your OTP with anyone</div>
      <div class="alert alert-info">Please note we have updated our Terms of Use. To know more - Please Click here to know more</div>
    </div>
  
    <div class="search-bar">
      <input type="text" placeholder="Search the Help Center" class="search-input">
    </div>
  
    <div class="content">
      <h2>HI, HOW CAN WE HELP YOU?</h2>
  
      <div class="buttons">
        <button class="btn">Video Ads</button>
        <button class="btn">Contact Us</button>
        <button class="btn">Classifieds</button>
        <button class="btn">Trust and Safety</button>
        <button class="btn">Legal & Privacy Information</button>
        <button class="btn">Technical Issues - Trouble Shooting Steps (Email)</button>
        <button class="btn">Coronavirus Advisory</button>
        <button class="btn">User Testimonials</button>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="help-center">
                <span>India Help Center</span>
            </div>
            <div class="language">
                <span>English (US)</span>
            </div>
        </div>
        <div class="footer-right">
            <span>Free Classifieds in India. &copy; 2006-2024 OLXclone</span>
        </div>
    </div>
</footer>
  