<app-userheader></app-userheader>



<div class="messaging-container">
    <div class="contacts-panel">
      <!-- <div class="search-bar">
        <input type="text" placeholder="Search">
        <button><i class="fa fa-paper-plane"></i> </button>
      </div> -->
       <ul>
       
       </ul>
       <div class="inbox-header">
        <span class="inbox-title">INBOX</span>
       
        
    </div>
      <ul class="contacts-list">
        <li *ngFor="let contact of contacts" (click)="selectContact(contact)" [class.active]="contact === selectedContact">
          <div class="contact">
            <img [src]="contact.avatar" alt="Avatar">
            <div class="contact-info">
              <h3>{{ contact.name }}</h3>
              <p>{{ contact.lastMessage }}</p>
            </div>
            <span class="time">{{ contact.time }}</span>
            <span><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M192 616q-33 0-56.5-23.5T112 536q0-33 23.5-56.5T192 456q33 0 56.5 23.5T272 536q0 33-23.5 56.5T192 616Zm288 0q-33 0-56.5-23.5T400 536q0-33 23.5-56.5T480 456q33 0 56.5 23.5T560 536q0 33-23.5 56.5T480 616Zm288 0q-33 0-56.5-23.5T688 536q0-33 23.5-56.5T768 456q33 0 56.5 23.5T848 536q0 33-23.5 56.5T768 616Z"/></svg>
            </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="chat-panel" *ngIf="selectedContact">
      <div class="chat-header">
        <div class="contact-info">
          <img [src]="selectedContact.avatar" alt="Avatar">
          <div>
            <h3>{{ selectedContact.name }}</h3>
            <p>Last seen today at {{ selectedContact.lastSeen }}</p>
          </div>
        </div>
        <div class="chat-actions">
          <i class="fa fa-phone"></i>
          <i class="fa fa-video"></i>
        </div>
      </div>
      <div class="chat-body">
        <div *ngFor="let message of selectedContact.messages" [class.sent]="message.sent" class="message">
          <p>{{ message.text }}</p>
          <span class="time">{{ message.time }}</span>
        </div>
      </div>
      <div class="chat-footer">
        <input type="text" placeholder="Type a message" [(ngModel)]="newMessage">
        <button (click)="sendMessage()"><i class="fa fa-paper-plane"></i> Send
        </button>
      </div>
    </div>
  </div>
  