<app-userheader></app-userheader>
<app-subheader></app-subheader>
<div class="edit-profile-container">
    <div class="side-bar">
        <h2>Edit Profile</h2>
        <p> Profile Picture</p>
      <button class="view-profile-btn">View profile</button>
    </div>
    <div class="edit-profile-form">
      <h2>Edit Profile</h2>
      <div class="section">
        <h3>Basic Information</h3>
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="Name" maxlength="30">
        <label for="about">About me (optional)</label>
        <textarea id="about" placeholder="About me" maxlength="200"></textarea>
      </div>
      <div class="section">
        <h3>Contact information</h3>
        <label for="phone">Phone</label>
        <input id="phone" type="text" placeholder="+91 999999999">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="xyz@gmail.com">
      </div>
      <div class="section">
        <h3>Additional information</h3>
        <label for="google">Google</label>
        <button class="unlink-btn">Unlink</button>
      </div>
      <div class="buttons">
        <button class="discard-btn">Discard</button>
        <button class="save-btn">Save changes</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>